  
  @media(min-width: 992px) {
    /*home*/
    .home_content{
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    .left img{
      width: 100%;
    }
    .common_btn:first-child{
      margin-left: 0;
    }
  }
  /* popup */
  @media(max-width:767px){
        html{
          font-size: 56.5%;
        }
       /*home*/
   
    
    /* popup */
    .popup_content{
        flex-direction: column;
        width: 53rem;
        height: 55rem;
    }
    .img_box{
      width: 30rem;
    }
    .img_box::after{
      width: 30rem;
      height: 30rem;
      top: 0rem;  
    }
    #done_btn{
        width: 10rem;
        height: 3rem;
        overflow: hidden;
        font-size: 1.8rem; 
    }
    .about_left img{
      height: 30rem;
    }
    .about .about_sec_header::before {
      content: '';
      background: url(../img/cyan_underline.png);
      display: inline-block;
      height: 21px;
      background-size: 79px 10px;
      background-repeat: no-repeat;
      width: 37%;
      position: absolute;
      top: 56%;
      left: 45%;
      opacity: 1;
  }
   
  }
  @media(max-width:600px){
    /* popup */
    .popup_content{
        width: 43rem;
        height: 48rem;
    }
    .popup_notice{
        font-size: 1.4rem!important;
    }
    #done_div{
        position: absolute;
        bottom: 2%;
        left: 43%;
        display: block;
        z-index: 3;
      }
      .about_left img{
        height: 28rem;
      }
      .about_details_p{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        color: #424242;
        line-height: 2.2rem;
        word-spacing: 4px;
        margin-top: 1rem;
    }
  }
  @media(max-width:464px){
    html{
      font-size: 40%;
    }
    /*home note*/
    .right .home_txtdiv_right .home_note {
      font-size: 1.8rem;
      width: 95%;

  }
    /* popup */
    .popup_content{
        width: 30rem;
        height: auto;
    }
    #done_btn{
        width: 9rem;
        height: 3.3rem;
        font-size: 1.6rem;
    }
    #done_div{
        bottom: 1%;
        left: 41%;
        margin-bottom: .2rem;
        margin-top: .5rem;
        display: block;
        padding-bottom: .2rem;
    }
    .popup_content ul li{
        margin-bottom: 3.5rem;
    }
    .popup_content ul li:first-child{
        margin-bottom: 1rem;
    }
    .navbar_content_wrapper{
      flex-direction: column;
    }
    .manubar ul{
      flex-direction: column;
    }
    .manubar ul li:first-child{
      margin-left: 1.3rem;
    }
    .about_details_p{
      font-size: 1.5rem;
  }
  .about .about_sec_header::before {
    content: '';
    background: url(../img/cyan_underline.png);
    display: inline-block;
    height: 21px;
    background-size: 70px 10px;
    background-repeat: no-repeat;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 39%;
    opacity: 1;
  }
  .about_mid{
   display: none;
  }
  .about_left{
    width: 50%;
  }
  .about_left img{
    height: 30rem; 
  }

  /*services*/
  .services .service_header h2::after{
    display: none;
  }
  .service_btn_contain .common_btn{
    margin-left: 0;
  } 

  }  