*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body{
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Dawning of a New Day', cursive; */
    /* font-family: 'Raleway', sans-serif; */
    background: #c7c7c7bd;
    text-rendering: optimizeLegibility;
}
/*==== Basic setup ====*/
a{
  text-decoration: none;
  color: #0d9144;
}
  a:hover{
  text-decoration: underline;
  }
h1,h2,h3{
  font-family: 'Titillium Web', sans-serif;
  /*set default color :  can be changed*/
  color: rgb(37, 37, 37);
}
ul{
  list-style-type: none;
}
.highlight_color{
  color: rgb(209, 29, 65);
  text-transform: capitalize;
}
.highlight_color_green{
  color: #0d9144;
}
.signature{
  font-family: 'Dawning of a New Day', cursive;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1919c7;
  display: inline-block;
  margin-bottom: 1rem;
  float: right;
}
.common_btn {
  width: 11rem;
  height: 4rem;
  border-radius: 5px;
  border: 0;
  outline: none;
  box-shadow: 2px 5px 9px 0px grey;
  background: #0d9144d6;
  color: #dcdcdc;
  font-size: 1.6rem;
  /*font-family: 'Roboto', sans-serif;
  */font-family: 'Titillium Web', sans-serif;
  margin-left: 2rem;
  margin-top: 0.8rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.common_btn:hover{
  background: #4f6dc5;
  cursor: pointer;
}
/*==== preloader ====*/
#loading{
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.753) url('../../resources/preloaders/Triangles-1s-200px\ \(1\).gif') no-repeat center;
    z-index: 9999999;
    display: block;

}
/*======== popup ========*/
/*blur effect*/
.allwrap{
  filter: blur(.07rem);
  -webkit-filter: blur(.07rem);
  height: 100vh;
}
.popup_box{
 position: fixed;
 left: 50%;
 top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
  display: none ;
  box-shadow: 0px 10px 22px -1px gray;
  border-radius: 10px;
  z-index: 98888;
}
.popup_content{
  position: relative;
    height: 35rem;
    width: 64rem;
    display: flex;
    background: rgb(243, 242, 242);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1.3rem;
}
.img_box{
  position: relative;
  width: 95rem;

  display: flex;
  align-items: center;
  justify-content: left;
}
.img_box img{
  position: relative;
  width: 95%;
  z-index: 2;
}
.img_box::after{
  content: '';
  width: 26rem;
  height: 27rem;
  background: #c7c7c7ea;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: .2;
  top: 2rem;
  left: .1rem;
}
.popup_box .popup_content .main_content{
  z-index: 2;
}
.popup_box .popup_welcome{
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(61, 61, 61);
  margin-bottom: 0.9rem;
}
.popup_box .welcome_text{
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
  font-family: 'Poppins', sans-serif;
}
.popup_box .popup_notice{
  font-size: 1.7rem;
  line-height: 2.3rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(54, 53, 53);
  margin-bottom: 1.5rem;
}
.popup_content ul li{
  font-size: 1.7rem;

}
.popup_content ul li .fa-facebook-square{
  color: teal;
  font-size: 1.9rem;

}
.popup_content ul li .fa-instagram-square{
  color: rgba(172, 16, 120, 0.637);
  font-size: 1.9rem;
}
#done_div{
  position: absolute;
  bottom: 7%;
  left: 43%;
  display: block;
  z-index: 3;
}
#done_btn{
  background: #597ad9;
    outline: none;
    border: 0;
    width: 12rem;
    height: 4rem;
    border-radius: 5px;
    color: #fff;
    font-size: 2.2rem;
  cursor: pointer;
}
#done_btn:hover{
  background: #4668cf;
}

/*==== scrollbar ====*/
::-webkit-scrollbar {
    width: 1.3rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c3c7c9;
    border-radius: 2rem;
    border: .4rem solid transparent;
    background-clip: content-box;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 128, 128, 0.788);
  }

/* navigation design */
.common_wrapper{
  width: 90%;
  margin: 0 auto;
  display: block;
}
.navbar_content_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manubar ul{
  display: flex;
}
.logo_div{
  padding-right: .6rem;
}
.logo_div h3{
  color: #333;
  position: relative;

}
.sticky_logo{
  display: none;
}
.sticky_logo img{
  width: 32%;
    height: 96px;
}
.logo_div h3,.logo_div .highlight_color{
  font-family: 'Titillium Web', sans-serif;
  font-size: 3rem;
}
.logo_div h3>.highlight_color{
  letter-spacing: 1px;
}
.bullet{
  font-family: 'Roboto', sans-serif;
  display: inline;
  margin-left: 0px;
  font-size: 4rem;

}
.make_space{
  margin-left: .2rem;
}
.logo_div .highlight_color{
  text-transform: lowercase;
}
.manubar ul li{
  margin-left: 1.3rem;
  width: 6.5rem;
  text-align: center;
  padding: .5rem;
  border-radius: .3rem;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}
.manubar ul li:first-child{
  margin-left: 0;
}
.manubar ul li a{
  color:#333;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}
.manubar ul li:hover{
  text-decoration: none;
  background: #4668cf;
}
.manubar ul li:hover a{
  color: rgb(233, 231, 231);
  text-decoration: none;
}

/* home section*/
.home_content{
  display: flex;
  padding-top: 42px;
  margin: 0px auto;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  flex-wrap: wrap;

}
 .home .left{
  width: 50%;
  z-index: 1;
}
.home .left img{
  filter: drop-shadow(-3px 6px 5px #b2b2b8);
  -webkit-filter: drop-shadow(-3px 6px 5px #b2b2b8);
  width: 95%;
  min-width: 39rem;
}
.home .right{
  z-index: 8878;
}
.home .right .home_txtdiv_right h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  margin-bottom: -0.7rem;
}
.home .right .home_txtdiv_right h1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 4.7rem;
  color: rgb(43, 42, 42);
  margin-bottom: .3rem;
  margin-top: .1rem;
  letter-spacing: .1rem;

}
.home .right .home_txtdiv_right .role{
  font-family: 'Roboto', sans-serif;
  font-size: 3.1rem;
  font-weight: 500;
  color: rgb(36, 35, 35);
  margin-bottom: .8rem;
}
.home .right .home_txtdiv_right .home_note{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.9rem;
  color: rgb(71, 64, 64);
  width: 57rem;
  letter-spacing: 0;
  line-height: 2.6rem;
  margin-top: .9rem;
}
.home_btn{
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
/*ABout*/

.about{

  background: #bcbdbd33;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.about .about_sec_header{
  text-align: center;
  position: relative;
  height: 60px;
  padding-top: 6px;
}
.about .about_sec_header::before{
  content: '';
  background: url(../img/cyan_underline.png);
  display: inline-block;
  height: 21px;
  background-size: 180px 15px;
  background-repeat: no-repeat;
  width: 15%;
  position: absolute;
  top: 60%;
  left: 42%;
  opacity: .9;

}
.about .about_sec_header h2{
  font-size: 2.6rem;
  letter-spacing: 2px;
  color: #383737;
}
.about_content{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.about_left{
  width: 35%;
}
.about_right{
  width: 52rem;
}
.about_left img{

  width: 92%;
  height: 45rem;
  border-radius: 4px;
  max-width: 33rem;
  max-height: 45rem;

}
.abt_h3{
  font-size: 2.5rem;
}
.abt_h2{
  font-size: 3rem;
}

.about_details_p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #424242;
    line-height: 2.2rem;
    word-spacing: 4px;
    margin-top: 1rem;
}

/*==============
    Services 
 ===============*/
.services{
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.services .service_header{
  text-align: center;

}
.services .service_header h2{
  font-size: 2.6rem;
  letter-spacing: 2px;
  color: #383737;
  position: relative;
  display: inline-block;
}
.services .service_header h2::after {
  content: '';
  height: 3px;
  width: 118px;
  background: #4f6dc5;
  display: inline-block;
  border-radius: 2px;
  position: absolute;
  top: 39px;
  left: 21px;
  opacity: .8;;
}
.all_services{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services_filter{
  text-align: center;
  margin-top: 4rem;
}
.services_filter button {
  margin-left: 1rem;
  margin-top: .9rem;
  padding: 6px;
  background: #a1a2ca8c;
  border: 0;
  border-radius: 4px;
  color: #2b2b2b;
  box-shadow: inset 2px 3px 7px #737388ab;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}
.services_filter button:hover{
  box-shadow: inset 2px 5px 7px #737388ab;
}
.one_service {
  width: 32rem;
  height: 40rem;
  overflow: hidden;
  margin-top: 7rem;
  border-radius: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  box-shadow: 2px 4px 12px 0px #a5a5ad;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 1rem;
}
.service_img_contain{
  overflow: hidden;
  height: 18rem;
  background: #2c8859d4;
  padding: 5px;
}
.one_service img{
  width: 95%;
  height: 15rem;
  transition:all .5s ease;
  -webkit-transition:all .5s ease;
  -moz-transition:all .5s ease;
  -ms-transition:all .5s ease;
  -o-transition:all .5s ease;
}
.one_service:hover img{
  height: 18rem;
}
.service_detail_box{
  background: #c5c5ca;
  padding: 9px;
  height: 21rem;
}
.service_detail_box h3{
  font-size: 1.9rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}
.one_service:hover h3{
  color: #4f6dc5;
  cursor: pointer;
}
.service_detail_box p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}
.service_btn_contain .common_btn{
  width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
}